%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      GitLab
    - unless new_jira_connect_ui?
      = stylesheet_link_tag 'https://unpkg.com/@atlaskit/css-reset@3.0.6/dist/bundle.css'
      = stylesheet_link_tag 'https://unpkg.com/@atlaskit/reduced-ui-pack@10.5.5/dist/bundle.css'
    = yield :page_specific_styles

    = javascript_include_tag 'https://connect-cdn.atl-paas.net/all.js'
    = Gon::Base.render_data(nonce: content_security_policy_nonce)
    = yield :head
  %body
    .ac-content
      = yield
